@import '../../common/scss/colors';

.trendingBar {
    background: $ligthGray;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 20px;
    width: 100%;
    height: 8%;

    &__tag {
        border: $greenBlue 2px outset;
        border-radius: 15px;
        padding: 2px 7px;
        margin: 0 3px;
        cursor: pointer;
    }

    &__title {
        color: $liveBlue;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: 20px;
    }
}